version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@6.0.0
  aws-ecs: circleci/aws-ecs@0.0.8

workflows:
  build-and-deploy:
    jobs:
      - command: pwd | ls
      - aws-ecr/build-and-push-image:
          account-url: AWS_ECR_ACCOUNT_URL
          dockerfile: Dockerfile
          region: AWS_REGION
          tag: '${CIRCLE_SHA1}'
          repo: '${MY_APP_PREFIX}/color_client'